{% extends 'home.html' %}

{% block content %}
<div style="width: 100%; border: 1px solid; border-color: black; margin: 10 px">
     <form action="" method="GET" enctype="multipart/form-data">
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" style="margin: 10px">Search <i class="bi bi-plus"></i>
        </button>
    </form>
</div>

{% for celebrity in celebrities %}
<div class="celebrity" style="width: 100%; border: 1px solid; border-color: black; margin: 10px">
    <h2>{{ celebrity.name }}</h2>
    <p>{{ celebrity.biography }}</p>
    <p>{{ celebrity.career }}</p>
    <p>{{ celebrity.created_at }}</p>
    <p>{{ celebrity.updated_at }}</p>
    <a href="/celebrities/{{celebrity.id}}">
        <button>Читать подробнее</button>
</a>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for i in list_pages%}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endblock content %}